@font-face {
    font-family: 'Ruberoid';
    src: url(Fonts/Ruberoid/Ruberoid-Light.ttf );
}

body{
    display: block;
    margin: 0;
    padding: 0;
    background-color: rgba(237, 238, 240, 1);
    /*background-image: url('Stuff/bg1.jpg');*/
    background-repeat: repeat-y;
    background-size: 100%;
    font-family: 'Ruberoid';
    width: 100%;
    height: 100%;
}
                                                                /* Главная страница */
.oglavlenie{
    margin-top: 10%;
    text-align: center;
    color: rgb(69, 111, 204);
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(122, 194, 230) 0 0 1em rgb(1, 1, 1);
    border: 3px solid white;
    background-color: rgba(255, 255, 255, 0.8);
}

.start{
    float: central;
    color: rgb(75, 175, 241);
    margin-top: 2%;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 2px rgb(18, 19, 19), 0 0 1em rgb(108, 206, 236);
    width: 30%;
    margin-left: 35%;
    border-radius: 15%;

}

a{
    text-decoration: none;
    color: rgb(69, 111, 204);
}

a:hover{
    text-decoration: none;
    color: rgb(69, 111, 204);
    text-shadow: 0 0 1em rgb(108, 206, 236);;

}

a:active{
    color: rgb(108, 206, 236);
}

.fullB{
    background-color: white;
    width: 30%;
}

                                                                    /* Первая страница */
.headerIN{
    margin-top:1%;
    text-align: center;
    color: rgb(69, 111, 204);
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(122, 194, 230) 0 0 1em rgb(1, 1, 1);
    border: 1% solid white;
    background-color: rgba(255, 255, 255, 0.8);
}

.content{
  width: 50%;
  margin-left: 25%;
  text-align: center;

}

.content1{
  display: inline-block;
  width: 48%;
}

.textcontent{
    border: 1px solid ;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    padding-left: 1%;
    padding-right: 1%;
}

.video{
    width: 100%;
}

.math{
    float: right;
    margin-top: 5%;
    margin-right: -10%;

}
.sidebarR{
    margin-left: 10%;
    vertical-align: top;
    display: inline-block;
    width: 15%;
    height: 100%;
}

.sidebarRText1{
    text-align: center;
    display: block;
    margin-top:1%;
    text-align: left;
    border: 1px solid black;
    border-radius: 7%;
}


.sidebarL{
    vertical-align: top;
    display: inline-block;
    width: 25%;
}
.swipeR{
    width: 30%;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 3%;
}

.swipeR1{
    width: 30%;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 3%;
  background-color: rgba(111, 130, 138, 0.5);

}

.swipeL{
    width: 30%;
    margin-left: 8%;
    border: 0px solid black;
    border-radius: 50%;
}

.swipeL1{
    width: 30%;
    margin-left: 8%;
    border: 0px solid black;
    border-radius: 50%;
  background-color: rgba(111, 130, 138, 0.5);
}

.swipeRText{
    margin-left: 3%;
    vertical-align: top;
    margin-top: 10%;
    display: inline-block;
    width: 65%;
}

.swipeLText{
    margin-left: 13%;
    margin-top: 80%;
}
.menu{
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    
    background-color: rgb(200, 202, 202);
    border: 2px solid rgb(84, 87, 87);
    border-radius: 7%;
    padding: 1%;
    width: 80%;
    margin-left: 10%;
}

.menuChapter{
    background-color: rgba(211, 224, 224, 0.8);
    color: black;
    border: 1px solid rgba(111, 130, 138, 0.5);
    margin-bottom: 1px;
    border-radius: 7%;
    text-align: center;
}

.test{
    margin-bottom: 5%;
}

.b1{
    display: block;
    margin-top: 2%;
    margin-bottom: 1%;
}

.textcontentT{
    display: block;
    border: 1px solid ;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 5%;
}

.result{
    resize: none;
}


